
<section class="h-auto min-w-fit w-3/4 m-4 mt-16 bg-blue-900 rounded-xl border mx-auto inline">
    <h1 class="text-4xl my-12 mx-auto  mt-16 text-center text-white">Cadastro de Fornecedor</h1>
    <form class="w-4/5  mx-auto my-20" [formGroup]="reactiveForm" (ngSubmit)="saveProvider()">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-100 text-xs font-bold mb-2" for="grid-first-name">
              Nome
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-800 border border-red-500 rounded py-3 px-4 mb-3 
            leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Nome" formControlName="name">
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-100 text-xs font-bold mb-2" 
                for="grid-city" >
              CNPJ
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-800 border border-gray-200 rounded py-3 px-4 
                leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" 
                type="number" placeholder="CNPJ" formControlName="cnpj" >
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-100 text-xs font-bold mb-2" for="grid-first-name">
                Email
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-800 border border-red-500 rounded py-3 px-4 mb-3 
              leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-100 text-xs font-bold mb-2" 
                  for="grid-city" >
                Telefone
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-800 border border-gray-200 rounded py-3 px-4 
                  leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" 
                  type="tel" placeholder="(84)99964-9841" formControlName="phone">
            </div>
          </div>
        <div class="text-center my-24 mb-12">
            <button class="mx-auto text-white border p-4 rounded-xl text-lg hover:opacity-80 hover:bg-gray-200 hover:text-blue-900">Cadastrar</button>
          </div>
      </form>
      
</section>
<c-toaster [placement]="position" class="p-3 " position="fixed">
  <c-toast
    class="bg-white"
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible">
    <c-toast-header class="bg-green-700 text-lg text-white">
      Fornecedor criado com sucesso!
    </c-toast-header>
    <c-toast-body>
      <c-progress thin>
        <c-progress-bar [value]="percentage" class="bg-green-600"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>