<div class="sidebar-shell">
    <div class="sidebar-brand border-b">
        <img src="../../../assets/logo.svg" class="sidebar-logo">
    </div>
    <mat-list class="sidebar-list text-white font-mons text-lg border-b">
        <mat-list-item class="sidebar-list-item">
            <a routerLink="/products">Produtos</a>
        </mat-list-item>
        <mat-list-item class="sidebar-list-item">
            <a routerLink="/categories">Categorias</a>
        </mat-list-item>
        <mat-list-item class="sidebar-list-item">
            <a routerLink="/providers">Fornecedores</a>
        </mat-list-item>
    </mat-list>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="sidebar-panel text-center">
        <mat-expansion-panel-header class="sidebar-panel-header text-white text-lg mx-4 font-mons">
            <mat-panel-description class="text-left">Cadastros</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidebar-nav-list text-sm text-center text-white">
            <a mat-list-item routerLink="/post-product" class="sidebar-link-item text-white font-mons">
                <span>Cadastrar Produto</span>
            </a>
            <a mat-list-item routerLink="/post-category" class="sidebar-link-item text-white font-mons">
                <span>Cadastrar Categoria</span>
            </a>
            <a mat-list-item routerLink="/post-provider" class="sidebar-link-item text-white font-mons">
                <span>Cadastrar Fornecedor</span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="sidebar-panel text-center sidebar-section-last">
        <mat-expansion-panel-header class="sidebar-panel-header text-white text-lg mx-4 font-mons">
            <mat-panel-description class="text-left">Relatórios</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidebar-nav-list text-sm text-center text-white">
            <a mat-list-item routerLink="/stock-category" class="sidebar-link-item text-white font-mons">
                <span>Inventário por Categoria</span>
            </a>
            <a mat-list-item routerLink="/stock-lack" class="sidebar-link-item text-white font-mons">
                <span>Falta de Estoque</span>
            </a>
            <a mat-list-item routerLink="/stock-lack-by-provider" class="sidebar-link-item text-white font-mons">
                <span>Falta por Fornecedor</span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>

    <div class="sidebar-footer">
        <button class="sidebar-logout-button" (click)="logout()">Sair</button>
    </div>
</div>
        
